.radio-buttons {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-top: 3.125rem;
    border-radius: 20px;
    -webkit-box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34); 
    box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34);
}

.radio-buttons__wrap {
    display: flex;
    justify-content: space-around;
}

.label:nth-child(2) {
    color: black;
}

.label:nth-child(4) {
    color: grey;
}

.label:nth-child(6) {
    color: rgba(100, 0, 100, 1);
}

.label:nth-child(8) {
    color: rgba(255, 131, 235, 1);
}

/* Radio button style */

.radio-button__wrap {
	margin-bottom: 10px;
}
.radio-button__wrap .radio-button {
	display: none;
}
.radio-button__wrap .label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}

.radio-button__wrap .label:before {
	content: "";
	display: inline-block;
    width: 20px;
    height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: black;
    border-radius: 50%;
}

.radio-button__wrap_grey .label:before {
	content: "";
	display: inline-block;
    width: 20px;
    height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: grey;
    border-radius: 50%;
}

.radio-button__wrap_purple .label:before {
	content: "";
	display: inline-block;
    width: 20px;
    height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: rgba(100, 0, 100, 1);
    border-radius: 50%;
}

.radio-button__wrap_pink .label:before {
	content: "";
	display: inline-block;
    width: 20px;
    height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: rgba(255, 131, 235, 1);
    border-radius: 50%;
}

.radio-button__wrap .label:after {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	position: absolute;
    left: 0.18rem;
    top: 0.04rem;
	background: white;
    border-radius: 50%;
}
 
/* Checked */
.radio-button__wrap .radio-button:checked + .label:before {
	background: black;
}

.radio-button__wrap_grey .radio-button:checked + .label:before {
	background: grey;
}

.radio-button__wrap_purple .radio-button:checked + .label:before {
	background: rgba(100, 0, 100, 1);
}

.radio-button__wrap_pink .radio-button:checked + .label:before {
	background: rgba(255, 131, 235, 1);
}

.radio-button__wrap .radio-button:checked + .label:after {
	background: black;
}

.radio-button__wrap_grey .radio-button:checked + .label:after {
	background: grey;
}

.radio-button__wrap_purple .radio-button:checked + .label:after {
	background: rgba(100, 0, 100, 1);;
}

.radio-button__wrap_pink .radio-button:checked + .label:after {
	background: rgba(255, 131, 235, 1);
}
 
/* Disabled */
.radio-button__wrap .radio-button:disabled + .label:before {
	filter: grayscale(100%);
}