.inputs {
    border-radius: 15px;
    padding: 1rem;
    color: white;
}

.inputs:nth-child(1) {
    background-color: rgba(100, 0, 100, 1);
    border-radius: 15px;
    border: 1px solid rgba(100, 0, 100, 1);
}

.inputs:nth-child(2) {
    background-color: grey;
    border-radius: 15px;
    border: 1px solid grey;
}

.inputs:nth-child(3) {
    background-color: rgba(255, 131, 235, 1);
    border-radius: 15px;
    border: 1px solid rgba(255, 131, 235, 1);
}

.input__name, .input__email, .input__password {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
}

.input__name:focus, .input__email:focus, .input__password:focus {
    border: black;
    outline: black;
}