.buttons {
    border-radius: 20px;
    padding-bottom: 1.25rem;
    -webkit-box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34); 
    box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34);
}

.buttons__wrapper {
    display: flex;
    justify-content: space-around;
}


.buttons__wrapper_pink, .buttons__wrapper_black, .buttons__wrapper_grey, .buttons__wrapper_purple {
    display: flex;
    justify-content: space-between;
    width: 180px;
}

.button {
    background-color: transparent;   
    border-radius: 1.25rem;
    padding: 0.5rem 1.25rem;
}

.button_pink {
    border: 2px solid rgba(255, 131, 235, 1);
    color: rgba(255, 131, 235, 1);
}

.button_black {
    border: 2px solid black;
    color: black;
}

.button_grey {
    border: 2px solid grey;
    color: grey;
}

.button_purple {
    border: 2px solid purple;
    color: purple;
}

.button_pink:hover, .button_black:hover, .button_grey:hover, .button_purple:hover {
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
}