body {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 1.25rem 0 1.25rem;
}

.App {
  text-align: center;
}

.inputs__wrap {
  display: flex;
  justify-content: space-around;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-top: 3.125rem;
  border-radius: 20px;
  -webkit-box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34); 
  box-shadow: 43px -24px 5px -3px rgba(0,0,0,0), 1px 12px 28px 9px rgba(0,0,0,0.34);
}